# API related
PORT=
MONGO_USER=
MONGO_PASS=
MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@localhost:27017
MONGO_DB=
TRANSACTION_COLLECTION=
REDIS_ADDR=
STATIC_AUTH_TOKEN=


# Seeder related
SEEDER_NUM_USERS=
SEEDER_NUM_ROUNDS=
SEEDER_BATCH_SIZE=
SEEDER_CONCURRENT=